:root{
    --skills-bar-length:0%
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    background-color: #F1F1F1;
    transition: .3s ease all;
}

body.dark{
    background: darkgray;
    color: #ffffff;
}

body.dark h1{
    color: #343D5B;
}

body.dark #cuestionario{
    background-color: rgb(88, 87, 87);
    color: white;
}

body.dark #cuestionario label{
    color: white;
}

body.dark i{
    color: white;
}

body.dark nav{
    background-color: #6f6f6f;
}


body.dark nav a{
    color: #343D5B;
}

nav, footer{
    padding: 2%;
}

h2{
    color: darkcyan;
    font-size: 25px;
    padding: 2%;
}

header{
    width: 100%;
    display: flex;
    flex-flow: wrap;
}

header div{
    width: 70%;
    display: grid;
    grid-template-columns: 5fr 3fr ;
    grid-template-rows: 2fr 2fr;
    column-gap: 15px;
    row-gap: 5px;
}

.img_header{
    width: 100%;
    height: 100%;
}

.img_header img{
    width:100%;
    height: 100%;
}

.switch{
    background: orange;
    border-radius: 1000px;
    border: none;
    position: relative;
    cursor: pointer;
    display: flex;
    outline: none;
}

.switch::after{
    content: "";
    display: block;
    width: 50px;
    height: 50px;
    position: absolute;
    background: #F1F1F1;
    top: 0;
    left: 0;
    right: unset;
    border-radius: 1000px;
    transition: .3s ease all;
    box-shadow: 0px 0px 2px 2px rgba(0,0,0,.2);

}

.switch.active{
    background:#343D5B ;
    color: black;
}

.switch.active::after{
    right: 0;
    left: unset;
}

.switch span{
    height: 50px;
    width: 50px;
    line-height: 50px;
    display: block;
    background: none;
    color: white;
}

nav{
    width: 20%;
    margin: 5%;
    border-radius: 3%;
    display: grid;
    grid-template-rows: 5fr 2fr 2fr 2FR;
    justify-items: center;
    row-gap: 10px;
    box-shadow: 2px 2px 20px 2px rgb(36, 33, 33,0.3);
}

.enlaces{
    background-color: rgb(227, 227, 227);
    width: 100%;
    border-radius: 25px;
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 10px 2px rgb(36, 33, 33,0.3);
}

.enlaces a{
    text-decoration: none;
    color: orange;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: 0.5s;

}

.enlaces a:hover{
    transform: scale(1.5);
}


main h1{
    text-align: center;
    margin: 2.5%;
    color: orange;
}

#sobreMi{
    display: flex;
    flex-flow: wrap;
    margin: 2.5%;
    justify-content:space-between;
}

#biografia{
    width: 45%;
}

#biografia p{
    font-size: 15px;
    text-align: center;
}

#tabla__lenguajes{
    width: 45%;
}

.skills{
    padding:1em 0 ;
}

.skills__item{
    display: flex;
    padding: 0 20px;
    flex-flow: wrap;
    align-items: center;
    justify-content: center;
}

.skills__img{
    width: 50px;
    margin: 5%;
}

.skills__bar,
.skills__bar::after{
    position: relative;
    width: 250px;
    height: 8px;
    background-color: #6f6f6f;
    border-radius:5% ;
    animation: skills-bar-fill 2s ease-in-out forwards;
    overflow:hidden;
}

.skills__bar::after{
    content: "";
    position: absolute;
    left: -250px;
    background-color: blue;
    transition: 0.5s;
}

.skills__bar--70::after{
    --skills-bar-length:70%;
}

.skills__bar--80::after{
    --skills-bar-length:80%;
}

.skills__bar--40::after{
    --skills-bar-length:40%;
}

@keyframes skills-bar-fill{
    to{
        transform: translateX(var(--skills-bar-length));
    }
}

#cuestionario{
    width: 80%;
    background-color: #ffffff;
    margin: auto;
    padding: 1% 5%;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}

#fill__blancs{
    width: 90%;
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
}

#fill__blancs label{
    color: rgb(0, 0, 0);
    margin: 2%;
}

.input__normal{
    width: 360px;
}

.input__normal input{
    width: 100%;
    height: 25px;
}

#mensaje{
    width: 100%;
}

#mensaje textarea{
    width: 100%;
    height: 150px;
}

#boton__cuestionario{
    margin: auto;
    padding: 2% 5%;
    font-weight: bold;
}

footer{
    display: flex;
    width: 100%;
    justify-content: right;
}

ul{
    position: relative;
    display: flex;
    gap: 25px;
}

li{
    position: relative;
    list-style: none;
    width: 60px;
    height: 60px;
    border-radius: 60px;
    cursor: pointer;
    display: flex;
    justify-content:center ;
    align-items: center;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    transition: 0.5s;
}

li:hover{
    width: 180px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0);
}

li::before{
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 50px;
    background: linear-gradient(45deg, var(--i), var(--j));
    opacity: 0;
    transition: 0.5s;
}

li:hover::before{
    opacity: 1;
}

li::after{
    content: '';
    position: absolute;
    top: 10px;
    width: 100px;
    height: 100px;
    border-radius: 60px;
    background: linear-gradient(45deg, var(--i), var(--j));
    opacity: 0;
    transition: 0.5s;
    z-index: 1;
    filter: blur(15px);
}

li:hover::after{
    opacity: 0.5s;
}

li i{
    color: #777;
    font-size: 1.75em !important;
    transition: 0.5s;
    transition-delay: 0.25s;
}

li:hover i{
    transform: scale(0);
    font-size: 1.75em;
    transition-delay: 0.25ms;
}

li span{
    position: absolute;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

li .titulo{
    color: #fff;
    font-size: 1.1em !important;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    transform: scale(0);
    transition: 0.5s;
    transition-delay: 0s;
}

li:hover .titulo{
    transform: scale(1);
    transition-delay: 0.25s;
}

@media screen and (max-width: 1024px){
    header div{
        width: 100%;
    }
    nav{
        width: 40%;
        height: 550px;
        margin: 5% auto;
    }
}

@media screen and (max-width:600px){
    nav{
        width: 50%;
        height: 450px;
    }

    #sobreMi{
        justify-content: center;
    }

    #biografia{
        width: 60%;
    }

    #tabla__lenguajes{
        width: 60%;
    }

    footer{
        justify-content: center;
    }
}

@media screen and (max-width:450px){
    body{
        background-color: #343D5B;
    }

    nav{
        width: 60%;
        height: 350px;
    }
}